node_modules/
.session/
*.sqlite
*.sqlite-journal
npm-debug.log*
.DS_Store
src/clients/
/cache/
config/
session/
logs/
feat/ai/bebek.js
feat/ai/bebek.js.bak
feat/ai/bebeklatest.js.bak
app.js.bak
igfix.js
jhig.js
jhstory.js
jhspot.js
*.log
*.backup
